@{
    ViewBag.Title = "Customer Portal";
}

<div class="jumbotron">
    <h1>[client name]</h1>
    <p class="lead">Welcome!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Data</h2>
        <p>
            [placeholder]
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Data Center &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Site Manager &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Tools and Solutions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Package Details & Cost Center</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Account Details &raquo;</a></p>
    </div>
</div>